:root {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	--BG-GRAY: #6f6f6f;
	--FG-BLACK: #000;
	/* background: var(--BG-GRAY); */
	color: var(--FG-BLACK);
}

body {
	font-size: 1.6rem;
	max-width: 1280px;
	height: 100vh;
	margin: 0 auto;
	padding: 1rem;
  font-family: 'Inconsolata', monospace;
}

.main-wrapper {
	display: flex;
	height: 100vh;
	gap: 1rem;
}

.sidebar {
	border: 1px solid;
	flex: 0 1 30%;
	border-radius: 4px;
	padding: 1rem;
}

.editor {
	border: 1px solid;
	flex: 1 1 60%;
	padding: 1rem;
	border-radius: 4px;
}

header h2{
  font-size: 4.8rem;
  font-family: 'Space Mono', monospace;
  text-align: center;
}