:root {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	--BG-GRAY: #6f6f6f;
	--FG-BLACK: #000;
	/* background: var(--BG-GRAY); */
	color: var(--FG-BLACK);
}

body {
	font-size: 1.6rem;
	max-width: 1280px;
	height: 100vh;
	margin: 0 auto;
	padding: 1rem;
	font-family: "Inconsolata", monospace;
}

.main-wrapper {
	display: flex;
	height: 100vh;
	gap: 1rem;
}

.sidebar {
	border: 1px solid;
	flex: 0 1 30%;
	border-radius: 4px;
	padding: 1rem;
}

.editor {
	border: 1px solid;
	flex: 1 1 60%;
	padding: 1rem;
	border-radius: 4px;
}

header h2 {
	font-size: 4.8rem;
	font-family: "Space Mono", monospace;
	text-align: center;
}

.empty-notes {
	text-align: center;
	padding: 2rem;
	border-radius: 8px;
	font-size: 2.8rem;
}

.empty-notes button {
	border: none;
	padding: 0.8rem;
	border-radius: 6px;
	background: var(--BG-GRAY);
	color: #f0f0ff;
	text-shadow: 0px 0px 3px black;
	box-shadow: 2px 1px 2px black;
	cursor: pointer;
}

.current-note {
	background: #6f6f6f;
}
